{% extends 'base.html' %}

{% block content %}

  <div id="container"></div>
  <script src="https://code.highcharts.com/highcharts.src.js"></script>
  <script>
    Highcharts.chart('container', {
        chart: {
            type: 'column'
        },
        title: {
            text: 'Historical US Population by State'
        },
        xAxis: {
            categories: [
            {% for entry in data_set %}
                {{ entry.state }}
            {% endfor %}
            ]
        },
        series: [{
            name: 'Year 2012',
            data: [107, 31,2,4,5,6]
        }, {
            name: 'Year 1900',
            data: [133, 156,67,23,4,6]
        }, {
            name: 'Year 2012',
            data: [1052, 954, 45,3,4,1]
        }]
        {#    series: [{#}
        {#    {% for entry in data_set %}#}
        {#        name: {{ entry.year }},#}
        {#        data: [{{ entry.population }}]#}
        {#    {% endfor %}#}
    });
  </script>

<div class='row'>
    <div class="new_post">
        <form method="post" action="{% url 'add-data' %}">
        <table>
            {% for field in data_form.visible_fields %}
                <tr>
                    <td>{{field.label_tag}}</td>
                    <td>{{field}}</td>
                    <td class="error">
                        {% for error in field.errors %} {{error}} {% endfor %}
                    </td>
                </tr>
            {% endfor %}
            <tr><td colspan="3"><input id="id_post_button" type="submit" value="Submit"></td></tr>
        </table>
            {% csrf_token %}
        </form>
    </div>
</div>

{% endblock %}
