{% extends 'base.html' %}

{% block content %}
  <div id="container" class="center"></div>
  <script src="https://code.highcharts.com/highcharts.src.js"></script>
  <script>
    Highcharts.chart('container', {
        chart: {
            type: 'column'
        },
        title: {
            text: 'Historical US Population by State'
        },
        xAxis: {
            categories: [
            {% for entry in data_set %}
                '{{ entry.state }}'{% if not forloop.last %}, {% endif %}
            {% endfor %}
            ]
        },
        series: [{
            name: 'Year 2012',
            data: [
                {% for entry in data_set %}
                    {% if entry.year == 2012 %}
                        {{ entry.population }}
                    {% endif %}
                    {% if not forloop.last %}, {% endif %}
                {% endfor %}]
        }, {
            name: 'Year 2013',
            data: [
                {% for entry in data_set %}
                    {% if entry.year == 2013 %}
                        {{ entry.population }}
                    {% endif %}
                    {% if not forloop.last %}, {% endif %}
                {% endfor %}]
        }]
    });
  </script>

<div class='row'>
    <div class="new_post">
        <form method="post" action="{% url 'add-data' %}">
        <table>
            {% for field in data_form.visible_fields %}
                <tr>
                    <td>{{field.label_tag}}</td>
                    <td>{{field}}</td>
                    <td class="error">
                        {% for error in field.errors %} {{error}} {% endfor %}
                    </td>
                </tr>
            {% endfor %}
            <tr><td colspan="3"><input id="id_post_button" type="submit" value="Submit"></td></tr>
        </table>
            {% csrf_token %}
        </form>
    </div>
</div>

{% endblock %}
