{% extends 'base.html' %}

{% block content %}
  <div id="container" class="center"></div>
  <script src="https://code.highcharts.com/highcharts.src.js"></script>
  <script>
    {#  Highcharts.chart('container', {#}
    {#    chart: {#}
    {#        type: 'column'#}
    {#    },#}
    {#    title: {#}
    {#        text: 'Historical US Population by State'#}
    {#    },#}
    {#    xAxis: {#}
    {#        categories: ["PA", "NJ"]#}
    {#    },#}
    {#    series: [{#}
    {#        name: '2012',#}
    {#        data: [125, 0]},#}
    {#        {#}
    {#        name: '2013',#}
    {#        data: [0, 150]}#}
    {#    ]#}
    Highcharts.chart('container', {{ chart|safe }});
  </script>

<div class='row'>
    <div class="new_post">
        <form method="post" action="{% url 'add-data' %}">
        <table>
            {% for field in data_form.visible_fields %}
                <tr>
                    <td>{{field.label_tag}}</td>
                    <td>{{field}}</td>
                    <td class="error">
                        {% for error in field.errors %} {{error}} {% endfor %}
                    </td>
                </tr>
            {% endfor %}
            <tr><td colspan="3"><input id="id_post_button" type="submit" value="Submit"></td></tr>
        </table>
            {% csrf_token %}
        </form>
    </div>
</div>

{% endblock %}
